.wrapper {
    height: 600px;

    background-image: url('../../../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    padding: 50px 100px;

    &-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-right {
            font-size: 18px;

            .link {
                all: unset;
                cursor: pointer;
                margin-right: 20px;
            }

            app-button {
                padding: 12px 16px;
                margin-right: 20px;
                font-weight: 900;
            }

            .signup {
                background-color: black;
                color: #ffffff;
                border-radius: 16px;
                font-weight: 600;
            }
        }
    }

    &-text {
        padding-top: 180px;
        padding-left: 24px;

        h1 {
            font-weight: 400;
            font-size: 48px;
        }
        
        p {
            padding-top: 20px;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &-input {
        background-color: #ffffff;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px #7d7c7c;

        position: absolute;
        top: 68%;
        left: 30%;

        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            margin-left: 12px;
            margin-right: 12px;
            border: none;
            height: 40px;
            width: 500px;
        }

        app-button {
            background-color: black;
            border-radius: 16px;
            padding: 12px 12px;
            font-weight: 900;

            font-size: 16px;
            font-weight: 500;
            color: white
        }
    }
}

