<div class="wrapper">
  <div class="wrapper-navbar">
    <div class="wrapper-navbar-image">
      <a href="">
        <img src="../../../assets/icon3.png" alt="icon" />
      </a>
    </div>

    <div class="wrapper-navbar-right">
      <a class="link" routerLink="/recipes">Recipes</a>
      <a class="link" routerLink="/master-classes">Master classes</a>


      <app-button
        class="createRecipe"
        label="Create Recipe"
        (click)="handleCreateRecipe()"
        *ngIf="isLogged"
      ></app-button>

      <app-button
        class="createMasterClass"
        label="Create Master Class"
        (click)="handleCreateMasterClass()"
        *ngIf="isLogged"
      ></app-button>

      <app-button
        label="Log in"
        mat-button
        (click)="openLoginDialog()"
        *ngIf="!isLogged"
      ></app-button>

      <app-button
        class="signup"
        label="Sign up"
        (click)="openSignUpDialog()"
        *ngIf="!isLogged"
      ></app-button>

      <app-button
        class="signup"
        label="Logout"
        (click)="handleLogout()"
        *ngIf="isLogged"
      ></app-button>
    </div>
  </div>

  <div class="wrapper-text">
    <h1>Are you Hungry?</h1>
    <p>
      Find thousands of recipes complete with how <br />
      to cook them. you can became a professional <br />
      chef just from home.
    </p>
  </div>

  <div class="wrapper-input">
    <img src="../../../assets/chefIcon.svg" alt="" />
    <input
      type="text"
      placeholder="find the recipes you want"
      [(ngModel)]="searchQuery"
      (input)="onSearchInput()"
    />
    <app-button label="Search"></app-button>
  </div>
</div>
