.wrapper {
    height: 800px;
    padding: 120px;

    h2 {
        font-size: 28px;
        font-weight: 400;
    }

    &-list {
        padding-top: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        &-item {
            width: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                cursor: pointer;
                
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 64px;
                    height: 64px;
                }
    
                p {
                    color: black;
                    font-size: 18px;
                    padding-top: 12px;
                }
            }
        }
    }

    &-info {
        padding-top: 120px;

        h1 {
            font-size: 36px;
        }

        p {
            padding-top: 10px;
            font-size: 18px;
            line-height: 24px;
        }
    }
}