.wrapper {
    min-height: 800px;
    padding: 100px;

    img {
        width: 200px;
        height: 200px;
        padding: 12px;
    }

    mat-card {
        min-height: 300px;
        display: flex;
        flex-direction: row;
    }

    .wrapper-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper-list {
        padding-top: 16px;
    }
}