<h2 mat-dialog-title>Create Recipe</h2>

<div mat-dialog-content class="wrapper">
  <form [formGroup]="createRecipeForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" [(ngModel)]="createRecipeForm.value.name" />
      <mat-error *ngIf="createRecipeForm?.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="image" placeholder="image" [(ngModel)]="createRecipeForm.value.image" />
      <mat-error *ngIf="createRecipeForm?.get('image')?.hasError('required')">
        Image is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description" [(ngModel)]="createRecipeForm.value.description" />
      <mat-error *ngIf="createRecipeForm?.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="steps" placeholder="Steps" [(ngModel)]="createRecipeForm.value.steps" />
      <mat-error *ngIf="createRecipeForm?.get('steps')?.hasError('required')">
        Steps is required
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput formControlName="category" placeholder="Category" [(ngModel)]="createRecipeForm.value.category" />
      <mat-error *ngIf="isValidCategory(createRecipeForm.value.category)">
        Possible categories: Salad, Italian, Meat, Burger, Soup
      </mat-error>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" [(value)]="selectedCategory">
        <mat-option *ngFor="let category of categoriesList" [value]="category.id">{{ category.title }}</mat-option>
      </mat-select>

      <mat-error *ngIf="isValidCategory(createRecipeForm.value.category)">
        Possible categories: Salad, Italian, Meat, Burger, Soup
      </mat-error>
    </mat-form-field>
  </form>
</div>


<mat-dialog-actions class="btns">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()">Create</button>
</mat-dialog-actions>




